# Copy this file to .env and fill in your real values

PORT=5000
MONGO_URI=mongodb+srv://founditadmin:DUedfLKdk23d823D#@$H238d@hunter-s-found-it.yrnlh3a.mongodb.net/?appName=hunter-s-found-it
JWT_SECRET=dJdj23$@$@#ad
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
